body{
/*    background-color: cornsilk;*/
}
.navbar-brand>img {
    display: block;
    height: inherit;
}

img {
    vertical-align: top;
}
html, body, .main {
    height: 100%;
    background-color: antiquewhite;
}

.sidebar {
  background-color: #CCCCCC;
    width: 20%;
    height: 100%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    
}
.content {
  background-color:azure;
    height: 100%;
    width: 80%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    
}

/*
@media (min-width: 992px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    background-color: #CCCCCC;
  }
}
*/

